[2016-02-01 05:07] drphilmarshall opened #1 "Simplest possible implementation"
I love a one-issue coding project. Let's extract a Twinkles light curve, Bryce!

[2016-02-01 05:43] rbiswas4 commented on #1
@jbkalmbach @drphilmarshall
I suppose you are doing this from a database of images ?  Or is this from a database of DM results?
As this is a simulation comparison project, would it be interesting to also have these from the sim instance catalogs for comparison? I have bits of code generating light curves from simulated instance catalogs as examples in
https://github.com/lsst/sims_catUtils/blob/mas

[2016-02-02 16:19] drphilmarshall opened #2 "Module structure"
@jchiang87

Hi Jim - Would you mind doing the necessary things to set this repo up so it can be summoned via
[code]
please? I'd like to see how this is done - normally I would put an `__init__.py` in `monitor` and insert statements like `from source.py import *`, so that I can then simply `import monitor`. But in https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/105 you recommended

[2016-02-02 16:23] drphilmarshall commented on #1
@rbiswas4 Good idea to ask the Monitor to look up the reference light curve too. I think this deserves a separate issue though, as it goes beyond the Simplest Possible Implementation. At this point I guess we are starting from a "database" of DM results - I don't know what format they are in right now but I guess Bryce will figure it out! It'll be good to have the Monitor be able to cope with a va

[2016-02-02 16:24] drphilmarshall opened #3 "Comparison with reference light curves"
Here's a good idea from @rbiswas4 , reproduced from #1:

Thanks Rahul!

[2016-02-02 16:26] jchiang87 commented on #2
sure, I'll give it a go, but once we settle on a real package management system, what I implement will need to change somewhat.

[2016-02-02 16:28] drphilmarshall opened #4 "Tiny example dataset"
I think we need a very small data file checked in to this repo, to enable some basic tests to be run by Travis (and help development). @SimonKrughoff do you have a suitable `ForcedSource` table snippet that we could use for this purpose? I guess it needs at least two objects in it and at least a handful of epochs, and preferably multiple filters, but the objects needn't be anything special: all we

[2016-02-02 16:58] drphilmarshall commented on #2
Yep, no worries. We officially love refactoring! Thanks Jim. BTW this is
pathfinder Level 3 code, so we should follow DM standards as well as module
structure - great if you can point out any instances where you do things in
particular ways because of DM.

On Tue, Feb 2, 2016 at 8:26 AM, James Chiang notifications@github.com
wrote:

[2016-02-02 17:11] jchiang87 commented on #2
I created a branch `issues/2/package_reorg` (I guess DM would have called it `tickets/DM-<JIRA issue number>`) with my proposed changes.  I've updated the README, but here's a demo nonetheless:

[code]

I took the liberty of add a `tests` folder and a stub of some unit testing code.

If we were following DM conventions, I would run continuous integration testing, then ask for code review, and then

[2016-02-02 17:20] drphilmarshall commented on #2
Excellent! Thanks Jim. Well, let's do this DM-style, then - with one
wrinkle. With GitHub it's good to start the PR first, because it's the PR
thread that lays out all the commits so we can review them. Also, I think
it'll be easy to set up Travis CI once the PR is open - let's see if we can
make that work. See you on the PR thread in a minute!

On Tue, Feb 2, 2016 at 9:11 AM, James Chiang notific

[2016-02-02 18:26] drphilmarshall commented on #2
Nailed in #5

[2016-02-02 18:26] #2 closed

[2016-02-27 19:37] drphilmarshall opened #6 "Light curve visualization"
@jbkalmbach @rbiswas4

Rahul and I designed an interactive light curve viewer that we think should not be too hard to implement, over in [Twinkles issue #40](https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/140). Here's the whiteboard we drew:

![](https://camo.githubusercontent.com/a6a2cbf560cfde79c14ed3a18662949c4434421e/68747470733a2f2f7062732e7477696d672e636f6d2f6d656469612f43

[2016-02-27 19:43] drphilmarshall opened #7 "LightCurve class"
@jbkalmbach

I propose we make a `LightCurve` class as the centerpiece of the Monitor code. We'll want to be able to do things like this:
[code]
See #6 for thoughts on light curve visualization! :-)
I think this class is the key component of the Simplest Possible Implementation #1

[2016-02-27 19:44] drphilmarshall opened #8 "Test data"
@jbkalmbach we need a small test dataset to develop against. Any DM `ForcedSource` catalog would do, for example, although it would be fun if the three objects in that catalog had amusing light curves. And I guess we need at least two filters, to make it interesting. What do you think?

[2016-02-27 19:45] drphilmarshall commented on #8
Whoops, dupe of #4 - sorry!

[2016-02-27 19:45] #8 closed

[2016-02-27 19:48] drphilmarshall commented on #4
I think this issue is the roadblock for Monitor development (which needs to happen fast if we are to be able to make plots of @TomGlanzman and @tony-johnson 's Twinkles outputs before March 7. Does anyone have a `ForcedSource catalog (or catalogs) that can be stripped down to 2 objects in 3 filters observed over N epochs for development purposes? @SimonKrughoff? @jbkalmbach?

[2016-02-27 20:05] drphilmarshall opened #9 "Light curve quality metric"
Reissuing from https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/143 :

I suggest we use something like the rms difference between observed and true light curves, weighted by observation errors, to make a $\chi^2$-like quantity. Then, we can compute the number of sigma offset between the observation and the truth using the Gaussian (Fisher) approximation to the chi-squared distribu

[2016-02-27 20:08] drphilmarshall commented on #1
Alright @jbkalmbach this issue is now an epic. see above for checkboxes.

I guess all these need doing this coming week, so we can run The Monitor on the Twinkles DM Level 2 ForcedSource catalog(s)! LMK if you want to pair-code by hangout, Wednesday afternoon could be a good time.

[2016-02-27 20:16] jchiang87 commented on #7
Hi Guys,

In case you haven't seen it, @SimonKrughoff has some code that extracts the light curve fluxes by `objectId` from the `forced_src` catalogs [here](https://github.com/DarkEnergyScienceCollaboration/Twinkles/blob/master/code/plot_point_mags_gri.py) using the data butler, etc..

[2016-02-27 20:26] drphilmarshall commented on #7
Excellent, we'll need that. Thanks @jchiang87 !

Also, let's follow `sncosmo` when working with multi-filter light curve data, to make it easy to do light curve fitting later. It's a pretty light-weight dependency (just `pip install --no-deps sncosmo`. [This page here](http://sncosmo.readthedocs.org/en/v1.2.x/photdata.html) describes what an `sncosmo` multi-filter light curve looks like, and it's

[2016-02-27 20:33] drphilmarshall commented on #6
I guess the Simplest Possible ( #1 )version of this is just to make the static plot with no highlighting and no cutout image, and use [`sncosmo.plot_lc`](http://sncosmo.readthedocs.org/en/v1.2.x/api/sncosmo.plot_lc.html#sncosmo.plot_lc) to do it

[2016-02-27 21:57] rbiswas4 commented on #7
Great! @jchiang87

Exactly. I think the sncosmo format is a pretty good one. And adding columns to the tables as we see fit is easy. There are a couple of things I would like to add
1. Depending on how we are doing things, we could either use sncosmo directly, or if we are importing lsst.sims, sncosmo is part of that package. So doing setup sncosmo will set up a recent release version of sncosmo.

[2016-02-28 01:35] rbiswas4 commented on #4
I agree we need this very quickly, for understanding how to build the light curve class. I was going through @SimonKrughoff's plot_mags code as suggested by @jchiang87 and it would help to be able to see the data.

[2016-02-28 02:05] jchiang87 commented on #4
@rbiswas4 Do you have a slac account?  If so, you can try using the following `output_data` directory with Simon's code:

[code]

Unfortunately, to use that code with the butler etc., the full output directory structure is probably needed, i.e., some sample forced source catalogs won't be sufficient.

[2016-02-28 02:13] rbiswas4 commented on #4
@jchiang87

Since I do not have an account yet, could you please upload that example dataset to nersc? I can download it from there to start looking at it. We can think about stripping it down to size for an example_data set after that. Thanks!

[2016-02-28 02:26] jchiang87 commented on #4
Ok. I can try.  I have a NERSC account, but I haven't tried using it yet.

[2016-02-28 02:35] rbiswas4 commented on #4
Thank you!

On Sat, Feb 27, 2016 at 6:26 PM, James Chiang notifications@github.com
wrote:

[2016-02-28 04:36] jchiang87 commented on #4
I wasn't able to access my NERSC account, so I uploaded the data to lsst-dev.ncsa.illinois.edu instead.  The tarball, output_data.tgz, should be read-accessible:

[code]

HTH.

[2016-02-28 04:45] rbiswas4 commented on #4
I do have an account on lsstdev, but I cannot access this directory because your home directory blocks permissions. But thanks for putting this up on lsstdev!

[code]

[2016-02-28 16:36] jchiang87 commented on #4
Hi @rbiswas4,  Can you try again?  I just changed the directory permissions.  I think you should be able to do `cp /nfs/home/jchiang/Twinkles/output_data.tgz <some place local>`

[2016-02-28 18:05] rbiswas4 commented on #4
OK. I tried it now and still have that problem:

[code]

[2016-02-28 19:17] SimonKrughoff commented on #4
Sorry for my silence on this.  Is there anything I can do to help?  It sounds like @rbiswas4 is looking into it.

[2016-02-28 21:14] jchiang87 commented on #4
@SimonKrughoff Can you provide @rbiswas4 with an `output_data` collection?   You probably have the `gri` run handy.  The one I put at lsst-dev is just the older r band analysis.

[2016-02-29 06:16] SimonKrughoff commented on #4
O.K.  I'll put this together tomorrow.

[2016-02-29 23:22] jbkalmbach commented on #4
Ok, I've got Simon's data, but it's quite large so I'm working on making the smallest, most basic but useful dataset out of it that I can.

[2016-03-01 00:35] jbkalmbach commented on #7
Ok, so a problem with the plan laid out so far is mentioned by @jchiang87 in #4.

If we want to work with just forced source tables we won't be able to use the butler is how I interpret this. Therefore, we'll need to pull the data out a different way.

[2016-03-01 00:44] rbiswas4 commented on #7
@SimonKrughoff @drphilmarshall Can we define what inputs we want the light curve class to work on?

Can we say that there will be a piece of code that uses the butler to obtain forced photometry results in the form of 'say' a numpy record array and the LC class will work with this record array ?

[2016-03-01 01:19] drphilmarshall commented on #7
Well. I guess the Monitor will need to be able to use the Butler to
assemble LightCurves out of DM data files, but a LightCurve object itself
should be able to be initialized either by the Monitor (which would pass
through whatever the Butler finds it convenient to serve us), _or_ a simple
sncosmo-style data file. This way, the UW group can be working on making
LightCurves plot themselves, and may

[2016-03-01 02:17] jchiang87 commented on #7
Isn't the end-game for the Monitor code to read the forced source fluxes from the Level 2 db tables?  It sounds like we are sort of heading in that direction.  Maybe the butler-based code should just stuff some Level 2 tables and then have some tools to export data from those tables as numpy arrays or whatever.

BTW, that "butler-based code" would essentially be doing what the Stack's `daf_ingest`

[2016-03-01 02:55] jbkalmbach commented on #7
So, I took just the tables and didn't use the butler method at all, I just directly got what I needed from them by interacting directly with the fits files. Then I built up a rough draft of the code that works exactly like Phil outlined above. I just pushed it in the commit mentioned above. To see how it works here is a ipython notebook: https://gist.github.com/jbkalmbach/e29af05df20ee6c458a6.

A

[2016-03-01 02:58] jbkalmbach commented on #7
Oh, also the plot doesn't look so great due to the provided test tables. I will bring that up in #4.

[2016-03-01 03:01] jbkalmbach commented on #4
So, the output_data folder provided by @SimonKrughoff only had visits from the same MJD and the same band. @jchiang87 are yours any different? If not, would it possible for anybody to run dm processing on the new sprinkled outputs to help create a better test set? Or at the very least have any output_data folders lying around that span a few days/bands?

[2016-03-01 03:27] jchiang87 commented on #4
Mine is just r-band for 9 visits, They _might_ span more than one night but they won't be significantly different from Simon's, if at all.  @tony-johnson should have the workflow engine going soon on the multiband/multiday data that are being generated with phosim.  I can look into running the Twinkles cookbook on those data tomorrow to get some files for you sooner.

[2016-03-01 05:16] drphilmarshall commented on #7
Nice! We can refactor to use the Butler later: I see a visualized light
curve and some nice looking OO python calls so yes, I'd say this was a good
starting point :-)  I think you should check in the demo notebook, and link
to it from the README. They make really nice documentation, I think. Later
we'll beed to clear the outputs to save space, but for now showing a light
curve from the test datase

[2016-03-01 05:24] drphilmarshall opened #10 "DM setup failure, notes needed"
Hey @jbkalmbach the tests currently fail for me, see below - apparently I need a stack module called `daf.persistence`, but I have never needed that before. Do I need to "setup" something? Happy to edit the README once I am up and running!

[code]

[2016-03-01 05:27] drphilmarshall commented on #10
Likewise for `utils`:

[code]

[2016-03-01 05:50] jchiang87 commented on #10
@drphilmarshall Do you have the stack installed including lsst_sims?  If you have the stack installed via [these instructions](http://developer.lsst.io/en/latest/build-ci/lsstsw.html), then you would do

[code]

Then do

[code]

If it complains about not finding an "acceptable version" of lsst_sims, you can do something like

[code]

[2016-03-01 05:52] drphilmarshall opened #11 "License information in source files, README etc"
Hey @brianv0 - check out our poster child DESC code project! We used @jchiang87 's template repo, and @jbkalmbach is working on the python source files. Would you mind please looking through these and adding appropriate licence notes to each one, in the recommended locations and formats? The README might need improving as well. If you can give us a good example here, we'll follow it forever. Thank

[2016-03-01 05:57] drphilmarshall commented on #3
Ah - we didn't mention the reference part of the tiny dataset in #4 but I guess we'd want to add that later to help development of the reference part of the `LightCurve` class.

[2016-03-01 06:08] drphilmarshall commented on #10
Thanks Jim. I tried that, and get this:

[code]

Then I tried setting up my c-shell, in the same way as we did for `Primes`, but got the same result. I guess my stack is not installed properly. Sigh - I'll go and look up getting the sims stuff in.

[2016-03-01 06:11] drphilmarshall commented on #10
`eups distrib install lsst_sims -t sims`
and it's bedtime :-)

[2016-03-01 06:13] jchiang87 commented on #10
yes, indeed.

[2016-03-01 16:15] jbkalmbach commented on #10
Sorry about that @drphilmarshall. That was from when I was trying to use the butler, but since (for now) we are not going that route we don't need it so I removed it in the latest commit.

[2016-03-01 16:16] jbkalmbach commented on #10
Whoops. You will need utils though so hopefully you got that to install?

[2016-03-01 16:18] jbkalmbach commented on #4
Yeah, anything from the actual twinkles data would be great if we can that!

[2016-03-01 17:58] drphilmarshall commented on #10
Not yet: right now the stack is helping me improve my development environment more generally ;-)

[2016-03-01 23:57] drphilmarshall opened #12 "Comparison with SNLS/CFHTLS"
Hi @DominiqueFouchez @KirkGilmore!

As you can see from #7, @jbkalmbach has implemented a very basic Monitor, and is working with @rbiswas4 and @jchiang87 to use it to extract light curves from the Twinkles Run 1 images/forced source catalogs. We are not doing any image differencing yet, let alone MultiFitting - that will come later.

Both of you have mentioned doing light curve analysis on CFHTLS

[2016-03-02 01:54] drphilmarshall commented on #10
Update: I needed to install Xcode, for one of the db dependencies. That took a while. Also I needed to `brew install cmake` for one of the other ones. Now grinding back through the list with `eups distrib install lsst_sims -t sims`.

[2016-03-02 02:14] drphilmarshall commented on #10
Now hitting boost python problems:

[code]

This is documented at https://github.com/GalSim-developers/GalSim/blob/releases/1.3/INSTALL.md - but I don't understand: why would the LSST DM stack install boost in a way that was _not_ compatible with `GalSim`? Let me know if you have come across this before, otherwise I'll raise it on community.lsst.org

[2016-03-02 02:17] cwwalter commented on #10
Phil... if you are doing this on your mac you should just use the anaconda lsst install.  Then you can do a
conda install lsst-sims

[2016-03-02 02:17] rbiswas4 commented on #10
I think @danielsf @cwwalter  know all about this.

I have a quick suggestion: Have you tried a conda install (that is much faster, but I am not sure if it circumvents this issue)

[2016-03-02 05:10] drphilmarshall commented on #10
What's the advice for someone who has a partial installation from the
install shel script? Do I just `\rm -rf lsst` and start from scratch with
conda?

On Tue, Mar 1, 2016 at 6:17 PM, Chris Walter notifications@github.com
wrote:

[2016-03-02 05:23] rbiswas4 commented on #10
I think this is the safest since we will know what you have installed. The good thing is that this is much faster than the `eups distrib install` path, so you should probably feel less about the loss of time.

[2016-03-02 05:34] drphilmarshall commented on #10
Alright Rahul, I trust you! Nuking lsst now.

On Tue, Mar 1, 2016 at 9:23 PM, rbiswas4 notifications@github.com wrote:

[2016-03-02 06:19] drphilmarshall commented on #10
Interesting. I accidentally `conda install`-ed `lsst-sims` before `lsst-distrib`, and was told (among other things) that:

[code]

Shouldn't the stack and the sims tools be on the same page? Does it matter which one you install first?

[2016-03-02 06:54] rbiswas4 commented on #10
Not entirely sure, a question for @danielsf . I think the two are maintained at slightly different frequencies
Also the GalSim issue has meant more trouble, the latest sims conda distribution is lsst_sims 2.2.1 or something like that.

So, while they should be, I don't think they are.

[2016-03-02 07:25] drphilmarshall commented on #10
I see - thanks @rbiswas4. The conda advice was good - I am almost set up now. I added my notes as [INSTALL.md](), see what you think. The only thing not working now is the `setup` command - I can `source eups_setups.csh` with no problems, but:

[code]

Any ideas?

Meanwhile, the Monitor's tests fail for `scipy` reasons:

[code]

Looks like `sncosmo` is trying to use `scipy.ndimage` but failing. So

[2016-03-02 07:31] drphilmarshall commented on #10
OK good, the `scipy` install worked. Now I get a bona fide LSST error from the Monitor's tests:

[code]

So I guess I need to use "setup" to get this LSST package on my path, but again,

[code]

fails, with error

[code]

What `setup` lines should I be using? And do you have any idea why my `$EUPS_DIR` has been set to such a nonsensical name? `INSTALL.md` is up to date with my notes.

[2016-03-02 16:01] jchiang87 commented on #10
Is it possible to get a more recent version of the Stack than v11_0 using the conda installs?  Maybe it's not an issue for the Mac, but on linux using the conda distribution of v11_0, I ran into serious problems running the assembleCoadd.py step in the Twinkles cookbook.  There's an exchange I had with Simon on this in the Twinkles hipchat room on Nov 30.

[2016-03-02 16:05] cwwalter commented on #10
Phil look for other environment variables you have have set.  The you should just need to (csh style)

 # For Anaconda
set path = (/Users/Walter/LSST/Anaconda/bin $path)

 # For DM
source /Users/walter/LSST/Anaconda/bin/eups-setups.csh

Then, I suspect your issue may be asking for a specific version.  @danielsf and Mario (can't find GH account!) set up the repo to have the "latest" weekly DM snaps

[2016-03-02 16:05] cwwalter commented on #10
arghh **without** the tag.

[2016-03-02 17:23] danielsf commented on #10
Note: the LSST conda build is currently incompatible with git lfs, which means the conda install of the stack is not going to move past version sims_2.2.1 for at least a few weeks (the person in charge of fixing the incompatibility has a lot on his plate at the moment).

[2016-03-02 17:23] danielsf commented on #10
@jchiang87 What channel are you trying to get your conda build from?

[2016-03-02 17:26] danielsf commented on #10
@drphilmarshall What system were you trying to eups distrib install lsst_sims onto?  OSX or Linux?  If OSX, was it El Capitan or Yosemite?

[2016-03-02 19:19] brianv0 commented on #11
I created pull request #13. It's short and sweet. It refers to the top-level LICENSE file, but we could modify that to point to a file at lsst-desc.org/LICENSE.txt or something similar.

[2016-03-02 20:44] drphilmarshall commented on #11
Fixed in 6950f0a86c7ff386f89f861edf14b0cf5f1044d2 by @brianv0 ! :-)

[2016-03-02 20:44] #11 closed

[2016-03-02 21:13] drphilmarshall commented on #10
@danielsf El Capitan - but I'm past all that `eups distrib` stuff now!

@cwwalter Thanks, but it seems that `eups_setup.csh` is doing something wrong. I set my PATH as you advised and then tried the `setup` command without the tag (after the `-T` I guess?) and got this:

[code]

The fix was to first

[code]

The `eups_setups.csh` script was mangling my existing paths and forming junk values for th

[2016-03-02 21:18] #10 closed

[2016-03-02 21:24] danielsf commented on #10
Just so there's a record of it: El Capitan's SIP (System Integrity Protection) makes it impossible to automatically install GalSim with eups (we were relying on the DYLD_FALLBACK_LIBRARY_PATH environment variable, which is now verboten).  The best fix I can think of is: after anaconda is installed, but before eups distrib installing any LSST software, run the install_name_tool fix on anaconda's li

[2016-03-02 21:46] cwwalter commented on #10
I think we decided it is OK as long as it is built ons OSX < El Capitan system.

I am using it on my El Capitan system.

[2016-03-03 02:14] drphilmarshall commented on #7
Installed Monitor, ran tests, initial LightCurve class  looks done.

[2016-03-03 02:14] #7 closed

[2016-03-03 05:57] drphilmarshall commented on #9
Before we get to the observed vs truth metrics, we should code up some simpler ones. N5 (the number of light curve points with SNR > 5) could be one. How about we make a `validate_lightcurve` method in the `LightCurve` class, and have it add metric values to a dictionary called `self.metrics`?

[2016-03-03 18:56] jchiang87 commented on #10
Sorry, @danielsf, I didn't do the installation. I'll ask the person who did the install.

[2016-03-03 19:02] cwwalter commented on #10
@jchiang87 if you look in .condarc you can see what it is.  For example mine:

channels:
- http://eupsforge.net/conda/dev
- defaults

[2016-03-03 19:09] jchiang87 commented on #10
Thanks @cwwalter.  I don't see .condarc anywhere near where the installation was done (I don't have one in my home directory.)  I've asked Heather, who did the installation.

[2016-03-03 21:57] rbiswas4 opened #15 "Since bandpasses are in in visits, do we need the bandpass argument separately?"
[code]
Not sure if we want to pass in both the bandpasses and visits when visits contain the bandpasses. Also if we decide to pass this in anyway, then can we keep this flat: so that the bandpasses array has the same shape as visitList.

[2016-03-03 23:59] drphilmarshall commented on #3
I think we want a `Monitor.get_objid(ra,dec)` method, don't you, Rahul?

This functionality is needed by the hypothetical notebook referred to in this https://github.com/DarkEnergyScienceCollaboration/Twinkles/issues/142#issuecomment-192027177

[2016-03-04 17:40] danielsf commented on #10
What output do you get from

[code]

[2016-03-04 17:48] jchiang87 commented on #10
[code]

[2016-03-04 20:09] jchiang87 commented on #10
@danielsf  It turns out that the v11_0 version of the Stack that had memory issues running `assembleCoadd.py` here at slac was not a conda installation.   It was built from source.   Sorry for the noise here.

[2016-03-08 00:23] linan7788626 commented on #6
Hi,

I wrote a small piece of code to implement the visualization of the light curve as @drphilmarshall described in the picture. the screenshot of this app is shown below.
- The code is saved in "./examples/Light_curve_visualization" in the Monitor repo.
- **_pyqt4**_ is adopted to construct this app, please use "conda install pyqt" to install it first.
- The input of this app is a serial of pict

[2016-03-09 01:01] jbkalmbach opened #16 "Configure Travis to import all necessary packages"
Currently our Travis CI builds will always fail until we can configure it to import the necessary packages to run our code.

[2016-03-10 16:09] jchiang87 commented on #16
Hey @jbkalmbach, I was able to do this for Twinkles last night using Mario's scripts.  I'll do the same for Monitor and will eups-ify as well since it looks like we will be using the Stack here too.

[2016-03-10 18:51] #16 closed

[2016-03-15 05:53] jbkalmbach commented on #4
Ok, small test set of forced photometry output available in 'data/test/forced'. ObjectIds run from 0-375. Now, by using one of those numbers in build_lightcurve(objectId),  anybody can run the example notebook on their own.

[2016-03-15 06:24] jbkalmbach commented on #15
Ok, commit dc96b74 eliminates the need to specify bandpasses and which visits go with those bandpasses based upon the syntax given by the DM output.

[2016-03-15 06:24] #15 closed

[2016-03-15 06:27] jbkalmbach commented on #4
I just realized we still need to get the true light curves associated with this test data. So, I reopened this issue until that gets done.

[2016-03-31 21:12] jbkalmbach opened #18 "Develop Light Curve Visualization"
* [ ] Visualization interface #6

[2016-03-31 21:38] rbiswas4 commented on #12
Actually, last week @jbkalmbach and I realized that certain things are missing and not quite correctly implemented (particularly zeropoints). So, this is not quite ready for this comparison yet, and we will modify this. Also, @jchiang87 's database implementation might also need the modifications. I should be putting this in soon.

[2016-03-31 21:55] jbkalmbach opened #19 "Calibrate SNCosmo fluxes correctly"
In the Monitor code so far we have the ability to output DM forced photometry flux information as light curves in each filter. However, we're not sure of the zeropoints or how to get them. This needs to be figured out to understand flux values correctly.

[2016-03-31 22:00] jbkalmbach opened #20 "Try to get SQL database ingest setup at UW"
Follow @jchiang87's outline in DarkEnergyScienceCollaboration/Twinkles#195

[2016-03-31 22:19] jbkalmbach opened #21 "Identify Phosim Catalog entry for each forced photometry"

[2016-03-31 22:20] jbkalmbach opened #22 "Organize Phosim Catalog information into light curve"

[2016-03-31 22:30] jbkalmbach opened #23 "Load Monitor input from database"
- [x] Set up SQL database at UW #20
- [x] Update Monitor code to interact with database #24

[2016-03-31 22:32] jbkalmbach opened #24 "Update monitor code to interact with SQL database"

[2016-03-31 22:37] rbiswas4 commented on #23
More specifically, I think Update Monitor code would be good to achieve by having multiple class methods, including the old one which tries to build the files from a data repository. But a new class method should interact with the database.

The thing we should all think about is what inputs we would like to provide:
- [ ] objectId
- [ ] ra, dec coordinates,
- [ ] ra, dec coordinates, nearest matc

[2016-04-01 00:38] jbkalmbach commented on #23
Also, leaving note here to watch DarkEnergyScienceCollaboration/Twinkles#191 to update needs of this epic as they change.

[2016-04-20 17:26] jbkalmbach opened #25 "Make Monitor Python 3 compatible"
As suggested by @rbiswas4 and following the procedure explained in DarkEnergyScienceCollaboration/Twinkles#209

[2016-04-28 19:40] jbkalmbach commented on #20
@jchiang87 has set up a database at NERSC that is accessible to us. No need for separate local UW database.

[2016-04-28 19:40] #20 closed

[2016-04-28 19:41] jbkalmbach commented on #24
This will interact with NERSC database setup by @jchiang87, but will require ssh tunneling and db-auth setup that will be documented.

[2016-05-05 19:41] jchiang87 commented on #24
@jbkalmbach I've got some fixes for the .travis.yml file that I expect will fix the build problems on this branch.  I'll push them to master so you can merge them here.

[2016-05-05 19:45] jbkalmbach commented on #24
That'd be great. Thanks!

On Thu, May 5, 2016 at 12:41 PM, James Chiang notifications@github.com
wrote:

[2016-05-05 19:52] jchiang87 commented on #24
ok, it's done (ad61a765c).  I added the pylint --py3k and coverage tests as well.

[2016-05-13 15:35] jchiang87 commented on #24
Hey @jbkalmbach:  I'd like to start using this code at NERSC, and it looks close to merging into master, but I have a feature request, i.e., making the db info [here](https://github.com/DarkEnergyScienceCollaboration/Monitor/blob/88ac99bc5bf7dcf2eefc9059176c27a5ab4b8476/python/desc/monitor/dbConnection.py#L8) settable by the user at runtime.  Could you open a PR where we can discuss the options fo

[2016-05-20 04:04] drphilmarshall commented on #3
Hey @jbkalmbach I just added a 3rd task to this Epic, following today's meeting: we need to store some metadata about the reference objects as well. Supernovae will have true SALT2 parameters, redshift etc. Strong lenses will have lens and source redshifts, OM10 IDs, image positions, time delays etc etc. In each case we may want to use this metadata when doing our light curve tests, and will certa

[2016-05-26 02:03] rbiswas4 commented on #19
We now have code to get the zero point for the visits. We should now use those in the sncosmo tables.

[2016-05-26 02:27] rbiswas4 commented on #24
Hi @jbkalmbach, I made some changes to get the travis tests on python 3 compatibility to pass. The main problem was an example.py file that had stayed from before. I went through the code and it seems fine. However, should we not have docstrings and examples as well as unit tests for this code?

[2016-05-26 18:55] jbkalmbach commented on #24
I'll add that as an issue to the epic. Let's close this out and let other people try it out. Thanks for looking at the code.

[2016-05-26 18:55] #24 closed

[2016-05-26 18:55] rbiswas4 commented on #24
ok

[2016-05-26 18:58] jbkalmbach opened #27 "Add Documentation and Unit Tests for Monitor"

[2016-06-10 23:10] jbkalmbach opened #28 "Make ipython demo notebook run remotely at NERSC"
For the Oxford DESC Meeting Twinkles would like to have an open house session. An ipython demo notebook that could generate both light curves and postage stamp images on the fly would be a great tool for this. In order to get things running, @jchiang87 suggested running the notebooks at NERSC so that the images could be served up in the browser.

[2016-06-16 21:01] drphilmarshall commented on #3
Hi @rbiswas4 ! Can you open a PR from the `reference_lc` branch please? It looks like you could be able to close not only this issue but also #21 and #22 - please do review these issues and close them if at all possible, preferably via commit messages (so that they auto-close when we accept the PR). Thank you! Excited to see the light curve comparisons :-)

[2016-06-16 21:06] drphilmarshall opened #29 "Test observed light curves against references"
@jchiang87 If you can take @rbiswas4 code and use it to make Monitor plots of an observed light curve with reference light curve overlaid, you win the prize of being able to close this issue! You may need to upgrade the Monitor's visualization capabilities to do this - you can issue that too, and hence double the size of your prize! :-)

[2016-06-16 21:17] drphilmarshall opened #30 "SLMonitor"
Hey @jbkalmbach - it looks like our strong lens capabilities are falling behind a bit. Correcting this oversight is an Epic task. What else do we need to do, apart from the following?

* [ ] Use RefLightCurves code from @rbiswas4 to extract reference lensed quasar light curves
* [ ] Sub-class the Monitor into an SLMonitor that knows it needs to extract 2, 3 or 4 objects and plot/analyze them toget

[2016-06-16 21:18] drphilmarshall commented on #30
@jbkalmbach Feel free to make issues for each bulleted task once you are down with the program!

[2016-06-16 23:30] jchiang87 commented on #29
@rbiswas4 What's the relationship between the `idValue` in the `TwinkSN` table and the instance catalog `sourceID` from the phosim input files?  I had thought they were the same, but the `idValue` examples in your notebook have too few digits (and don't appear in the Run1.1 instance catalogs) and the `sourceID` for an obvious SN in the phosim data isn't found by your `RefLightCurves` code.  I reca

[2016-06-17 00:28] rbiswas4 commented on #29
@jchiang87 Thanks! That was indeed a lack of thought on my part. I will fix this before issueing the PR.

[2016-06-17 02:54] rbiswas4 commented on #29
@jchiang87 Could you please give me a couple of IDs taken from the Instance Catalog, so that I can run some tests? Thanks

[2016-06-17 03:02] jchiang87 commented on #29
Hi @rbiswas4,  I think these should be good to try:

[code]

[2016-06-17 04:19] rbiswas4 commented on #29
@jchiang87  Thanks! Those were useful to set up an example ipython notebook.

[2016-06-17 04:29] rbiswas4 opened #32 "Fix truth.py to use LightCurve class to package the light curve output"
Currently, the RefLightCurves class provided to obtain truth light curves of supernovae from catsim databases on fatboy does not use the LightCurve class, but simply outputs a lightcurve.  This should be changed to use the LightCurve class to standardize the outputs.

[2016-06-17 04:39] rbiswas4 commented on #3
@drphilmarshall According to the items you have listed out, it would seem that the current work does not close the issue? Anyway, I put in a PR and an example notebook which should have some of the documentation you asked for.

[2016-06-17 20:26] rbiswas4 opened #33 "Start Sphinx Documentation"
As suggested by @drphilmarshall!

@heather999 I believe we already have sphinx docstrings in some of our code in the Monitor (which should be using numpydoc). So, this may be another starting point for the sphinx documentation request in https://github.com/DarkEnergyScienceCollaboration/SLTimer/issues/15. On the other hand, if SLTimer
turns out to be an easier starting point, I would be happy to c

[2016-06-17 22:37] jchiang87 commented on #29
Here are some plots comparing the reference light curves (in blue) and the forced source light curves (in red):
![ref_vs_forced](https://cloud.githubusercontent.com/assets/1994473/16166426/ff588df4-349f-11e6-8019-7f64b56e7a10.png)
I found the sourceId's (the term used in the PhoSim centroid files for the instance catalog object ids) by looking at the light curves inferred from the centroid files a

[2016-06-17 22:59] rbiswas4 commented on #29
@jchiang87
Are there error bars that I am not able to see because the errors are too small? Are these coadds? The blue light curves look rather smooth!

[2016-06-17 23:12] jchiang87 commented on #29
Yep, the error bars are being plotted, and for the red points (which I assume you meant), the errors are from doing the forced photometry on the calexp images (if I understand things correctly).  I even made the points using `fmt='.'` so as not to obscure the error bars.  Here is [the script](https://github.com/jchiang87/desc_projects/blob/master/phosimTables/compare_lcs.py) that produced those pl

[2016-06-17 23:19] rbiswas4 commented on #29
Hmm. Actually I meant both, and particularly the blue points (because I am in  a better position to interpret/change/compare with other ideas etc.). But your reply probably means both are being plotted?

[2016-06-17 23:20] jchiang87 commented on #29
Please have a look at the `compare_lcs.py` script and make sure I'm unpacking the errors for the reference light curves correctly.  It seems straight-forward.

[2016-06-17 23:54] rbiswas4 commented on #29
@jchiang87 I just looked at your script, and did not see anything wrong in the script. And these are not coadds either. I realized, that I was suspecting them to be coadds because (a) they looked smooth and (b) because there were not the usual number of points I am used to seeing in DDF fields. But I just remembered that (b) is not valid because Twinkles cadence is not DDF cadence.
So, perhaps the

[2016-06-18 03:17] rbiswas4 commented on #25
@jbkalmbach Isn't this done ? I thought I had gotten master to pass the travis tests that @jchiang87 setup. Are there other requirements that I am forgetting about?

[2016-06-18 04:35] rbiswas4 opened #34 "Prevent the leakage of imports into namespace"
Currently, modules in the monitor package import several packages without defining an `__all__`, and then use a `from module import *` style. This causes a leakage of all imported package names into the monitor namespace. We need to change this.

[2016-06-19 02:27] rbiswas4 opened #36 "Replace nose with pytest as the testing engine?"
[LSST is migrating](https://sqr-012.lsst.io/) to py.test as  the test runner rather than `unittest`.  Like nose, which we have been using in Twinkles and Monitor, py.test will work with tests written in the  `unittest` framework as well.  I think this is an attractive option, because of
- continued support to tests written in the unittest or nose framework
- New features (I believe) not present in

[2016-06-20 16:15] jchiang87 commented on #29
Here are plots showing the comparison for all six bands for a handful of the brighter SNe.  I've added 10x10 arcsec cutouts of the coadded images for each band.  In the cutouts, the red points are the locations of the Level 2 coadd objects, the blue star at the center is at the CatSim location of the SN whose light curves are plotted, and the green stars are at the CatSim locations of the other SN

[2016-06-23 03:51] #34 closed

[2016-06-23 18:29] rbiswas4 opened #37 "Example Notebook/script to access forced sources parameters from the database."
@jchiang87 I am looking for an example of how we can find parameters relating to all point like forced sources in the database. I would love to start with SN only, but would be OK if other classes of objects were there as well. I am trying to figure out how to generally associate objects quickly between the reference and outputs of DM.

[2016-06-23 18:39] jchiang87 commented on #37
@rbiswas4 Which forced source parameters were you interested in searching on?  For the comparisons I made in #29, I'm just doing a positional query on RA, Dec, e.g., [here](https://github.com/jchiang87/desc_projects/blob/master/phosimTables/PhosimDbInterface.py#L56).

[2016-06-23 18:49] rbiswas4 commented on #37
Yes, that is the kind of thing I would like, let me look more carefully after the meeting:
-  I wanted to get RA, Dec, sequence of MJD where they were measured to have 'significant' non zero fluxes, or SNR values.
- I want to iterate over all such objects with various thresholds. So what I am really looking for is the sequence of ID for  all forced sources.
- How do you figure out if they are like

[2016-06-23 18:57] jchiang87 commented on #37
This might be a useful thing to discuss during the meeting.  If you histogram the peak normalized light curves from the Level 2 data, the distributions clearly show three families: constant sources, AGNs and SNe.  The AGNs tend to have a broad distribution of fluxes while the SNe have mostly quiescent values and a tail of higher fluxes.  (There is actually a fourth class: bright constant sources n

[2016-06-23 19:03] rbiswas4 commented on #37
Ok. When you say broad distribution of fluxes do you really mean that AGN are long lived and SN are short lived so most of the SN fluxes are consistent with 0 ? That is true and an easy way to distinguish over long time periods.

[2016-06-30 16:53] drphilmarshall commented on #33
Looking at this with @heather999 , we think we'd like to try setting up Sphinx and running it from travis, having travis push the built html pages back to the gh-pages branch of this repo (which will need setting up). [Here's an example](https://gist.github.com/domenic/ec8b0fc8ab45f39403dd). I'll issue myself with the gh-pages part, @heather999 will set up sphinx :-)

[2016-06-30 16:55] drphilmarshall opened #39 "Start gh-pages site"
On it.

[2016-06-30 17:01] drphilmarshall commented on #39
Done:

http://darkenergysciencecollaboration.github.io/Monitor/

The index.html is just the README at the moment - we should change this, once we have more content to show, from Sphinx. But now we have somewhere to deploy to, @heather999 ! :-)

[2016-06-30 17:01] #39 closed

[2016-06-30 17:16] drphilmarshall commented on #33
PS. We'll need to make sure that only the master branch code documentation is deployed on gh-pages, not any old fork in a PR :-)

[2016-07-04 20:47] jbkalmbach opened #40 "Use RefLightCurves code from @rbiswas4 to extract reference lensed quasar light curves"

[2016-07-12 02:32] rbiswas4 opened #41 "monitor LightCurve non-fatal warnings and errors on nersc."
While trying to retrieve light curves from nersc @jbkalmbach and I got a non-fatal (for our work) error and warning. Do people know why we are getting these and if they should be ignored?

- When creating the ssh tunnel using the instructions in README:
`ssh -L 3307:scidb1.nersc.gov:3306 your_username@cori.nersc.gov
`
we get the following at nersc:
[code]
It does not seem to create a problem.

On

[2016-07-12 03:26] jchiang87 commented on #41
The `ErfaWarning` is coming from the `astropy` code that computes UTC dates.  Essentially, it's complaining that the date requested is too far into the future to be computed reliably because the leap seconds that would occur between now and then are uncertain.  See
https://github.com/astropy/astropy/blob/ffc0a89b2c42fd440eb19bcb2f93db90cab3c98b/cextern/erfa/dat.c#L64

The 'Base-opts' complaint is

[2016-07-12 03:32] rbiswas4 commented on #41
Perfect!

[2016-07-12 03:32] #41 closed

[2016-07-12 03:36] jchiang87 opened #42 "zero points in desc.monitor.LightCurve.build_lightcurve* need to be set correctly"
The fluxes extracted from the forced source FITS catalogs using this code
https://github.com/DarkEnergyScienceCollaboration/Monitor/blob/master/python/desc/monitor/monitor.py#L114
need to have the zero points set for each visit from the `calexp` data.  See
https://github.com/DarkEnergyScienceCollaboration/pserv/blob/master/python/desc/pserv/utils.py#L73

For the lightcurves built from the Level 2

[2016-07-12 03:36] rbiswas4 opened #43 "Requirements of Monitor"
I got a crash of desc.monitor.render_fits_images due to the lack of WCSAxes.
[code]
The error message was clear about what needed to be done to fix this  and is good enough for interactive use. But would it be good to add this in some kind of optional requirements document (This is actually invoked by astropy, so it must be an optional requirement of astropy)?

[2016-07-12 03:40] jchiang87 commented on #43
Yes, we should have a `requirements.txt` file so that any additional dependencies can be easily installed.  In addition to `wcsaxes`, it would be good to have `iminuit` for fitting with `sncosmo`.

[2016-07-12 03:52] rbiswas4 commented on #43
Yes. That is a good one too. Maybe more `SNCosmo` dependencies as we explore more.

[2016-07-12 06:26] rbiswas4 opened #45 "Would be nice to allow share x and y axes in postage stamp subplots"
I would like to plot postage stamps as subplots and share the x and y axes labels if desired. This would be a nice option to have.

[2016-07-13 19:35] jbkalmbach opened #46 "Add in obshistIds to lightcurve class"
Currently we only have MJDs associated with each observation. Would be helpful to include the obsHistIds.

[2016-07-14 22:47] rbiswas4 opened #47 "Speed up Monitor Light Curves for each Object"
In trying to analyze the light curves of SNe using the Monitor, @jbkalmbach and I discussed that the light curve retrieval was slow, and how we could speed  up the process.

We plan to speed up the process by using forcedSources and then joining with visit information either from the database or from OpSim outputs. This will automatically fix #46

[2016-07-14 22:51] rbiswas4 commented on #21
@jbkalmbach and @drphilmarshall I am trying to understand this issue. Are we looking for filenames of the phosim Instance catalogs, or are we looking for objects in the catalogs?

[2016-07-28 16:36] jchiang87 opened #48 "We need a workaround for the sncosmo/astropy incompatibilities in the conda distribution of lsst-sims"
This problem is causing our builds to fail at travis-ci, e.g.,

https://travis-ci.org/DarkEnergyScienceCollaboration/Monitor/builds/147903861

@heather999 I think you were able to roll back astropy to a previous version for the SLAC installation of v12_0 so that it would work with the sncosmo in the conda distribution. If so, then I'd like to update the .travis.yml install script to do the same.

[2016-07-28 16:43] danielsf commented on #48
Remind me what the problem is?  Is it that sncosmo 1.2 does not work with astropy 1.2?

[2016-07-28 16:49] jchiang87 commented on #48
Yes, sncosmo 1.2 needs astropy 1.1.x .  Alternatively, sncosmo 1.3 (created to fix this problem) will work with astropy 1.2.  So, changing one or the other accordingly would fix things.

[2016-07-28 16:51] jchiang87 commented on #48
Here's the relevant issue at the sncosmo repo:

https://github.com/sncosmo/sncosmo/issues/142

[2016-07-28 16:57] danielsf commented on #48
Let me see if we have an official plan for a release.  If not, I can start the ball rolling today.

[2016-07-28 17:03] heather999 commented on #48
I thought there was also a problem using astropy 1.2 with sims_utils (at least the version released for use with the Stack v12_0), which disappeared when we downgraded to astropy 1.1.1.. I actually went with astropy 1.1.2 as I assumed that was enough, @danielsf
https://community.lsst.org/t/how-to-downgrade-astropy-in-conda-install-of-v12-0/910/9

How I did that @jchiang87.. I did the typical vanil

[2016-07-28 17:03] danielsf commented on #48
Is it absolutely necessary to use astropy 1.2?  I ask because the relationship between LSST and astropy is still very tenuous (we recently had an episode in which our Jenkins slaves were installing astropy 1.2 even though we thought they were installing astropy 1.1.1)

It is not clear that we have any official policy or means of controlling what version of astropy gets installed with the stack.

[2016-07-28 17:04] danielsf commented on #48
@heather999 is correct: sims_utils unit tests should also fail with astropy 1.2

[2016-07-28 17:06] jchiang87 commented on #48
From what I can tell, there's no reason that I can see to use astropy 1.2 at this time.  The only reason I could see would be if someone really needed to use sncosmo 1.3.

[2016-07-28 17:09] danielsf commented on #48
So are you saying that sncosmo 1.3 is not backwards compatible with astropy 1.1.1 (we are just trying to figure out how you got astropy 1.2, since we think our conda build is hard-coded to deliver astropy 1.1.1)

[2016-07-28 17:14] jchiang87 commented on #48
I don't know the details of the changes in sncosmo 1.3, but given the nature of the incompatibilities of sncosmo 1.2 with astropy 1.2, I would be surprised if they went to the effort to make sure sncosmo 1.3 was backwards compatible with astropy 1.1.x.  @rbiswas4 may be able to comment.

In any case, my understanding and the breakage I've seen seem to indicate that the v12_0 conda distribution is

[2016-07-28 17:16] heather999 commented on #48
@jchiang87 can correct me, but I believe we got astropy 1.2 from the conda installation of v12_0 lsst-distrib.  Going back through my logs.. for the lsst-distrib installation I see:
The following NEW packages will be INSTALLED:

[code]

Then I do an install of lsst-sims in that same conda environment where it adds:
The following NEW packages will be INSTALLED:

[code]

So it looks to me that astro

[2016-07-28 17:39] danielsf commented on #48
I just had a long conversation with Lynne about this.  We're still not sure how astropy 1.2 got in there.  One thing she noticed: you should be installing from http://conda.lsst.codes/sims _not_ http://conda.lsst.codes/stack, since the sims channel is where all of the up-to-date sims releases will be published.  We also have lsst_apps on the sims channel.  We do not have lsst_distrib on the sims_c

[2016-07-28 17:47] heather999 commented on #48
@danielsf That very well might be the answer.. in which case I think the doc here, needs some modification, under 2. Install Science Pipelines in a Conda Environment
https://pipelines.lsst.io/install/conda.html
I suspect I need to poke Lynne and Jonathan Sick about that bit..  I'll try via community. Otherwise I'll trip over this again in the future  :)

[2016-07-28 17:54] danielsf commented on #48
There is still a lot of confusion about where sims and DM documentation should live.

We are trying to keep the most up-to-date sims install information here

https://confluence.lsstcorp.org/display/SIM/Catalogs+and+MAF

which you can get to from

http://lsst.org/scientists/simulations

and clicking on either the CatSim or the MAF windows

Sorry for the confusion

[2016-07-28 17:56] rbiswas4 commented on #48
There are now two conda installs being published. DM publishes the one @heather999 pointed to. I believe we should be using https://conda.lsst.codes/sims (I had pointed this out in a thread before), if we want the sims versions to be compatible with the DM version, aside from releases which are typically once or twice a year.

[2016-07-28 18:02] danielsf commented on #48
I just did a fresh install of lsst_sims and lsst_apps from the sims channel.  I get astropy 1.1.2

[2016-07-28 18:07] danielsf commented on #48
trying the same install from  the stack channel tries to bring in astropy-1.2.1, as @heather999 observed, so that is the problem.  We will investigate why the two channels have different constraints on astropy.  As always: sorry for the confusion.

[2016-07-28 18:58] jchiang87 commented on #48
I set the channel in the install script to https://conda.lsst.codes/sims and the build is fixed:

https://travis-ci.org/DarkEnergyScienceCollaboration/Monitor/builds/148114144

Thanks everyone!  I'll close this issue via the pull-request.

[2016-07-28 19:33] #48 closed

[2016-08-26 01:01] drphilmarshall opened #50 "Subtract DC level from light curves?"
At the [August 25th Twinkles weekly meeting](https://docs.google.com/document/d/1NfIO08uqdncbApLkJyAH-UDEpA25lWCU9s26jjdd5jo/edit?pref=2&pli=1#heading=h.c4tvbnfykcvn), we identified a function we need the Monitor to perform: according to @rbiswas4 it is standard practice to subtract off the flux due to the host galaxy from SN forced photometry light curves. To implement this, we could have the Mon

[2016-08-26 01:09] drphilmarshall opened #51 "Compute nightly fluxes and uncertainties"
So far we have restricted the Twinkles light curves to one visit per filter per night - but in Run 3 we will get the full DDF stream, with multiple visits per night. The rough DM plan for the DDFs seems to be "do the same as we do in WFD, wherever possible" which means that we will probably just run the same Level 2 pipeline that we already developed, and so produce a ForcedSource for every visit,

[2016-08-26 01:37] cdfassnacht commented on #51
@drphilmarshall - I'm not at all convinced that this is something that we want to do.  By binning, which combining measurements to get a nightly flux effectively does, we are throwing away information.  I have no idea for what kind of stochastic behavior SN exhibit on these kind of time scales, but I could imagine that AGN might have short time-scale variations, which may be useful information in

[2016-08-26 01:39] drphilmarshall commented on #51
Good point: the CatSim AGN do not have short timescale variations, but the real ones may well do. Let's not bin the SL light curves then, on principle. This could be an SN-only use case.

[2016-08-26 01:43] rbiswas4 commented on #50
It does not in the standard implementation

I was suggesting something different actually (simpler or more complicated).
- Do forced photometry at the location at all other times when the SN is not present, and average it to call the flux contribution of the galaxy, with errors.
- Subtract  this number from what we are calling the light curve fluxes, as you would if you subtracted two estimators.

[2016-08-26 01:48] wmwv commented on #50
Image subtraction or scene modeling are the only ways to do this right.  I don't think it's worth spending much effort trying to do this "right" by doing forced photometry on unsubtracted images.  In particular if the goal is to do light-curve fits to recover parameters to try to learn how we're doing, I don't think we can learn that much quantitatively useful until we do either scene modeling or

[2016-08-26 01:49] rbiswas4 commented on #51
While SNIa do not have features on this time-scale, (and so co-addition) is safe, I too prefer to not coadd the nightly fluxes, unless DM plans to treat them that way (as far as I know this is not the case). We should simulate the expected behavior as far as possible.

[2016-08-26 01:50] wmwv commented on #51
There's nothing particular to be gained by thinking too hard about binning points on the same night.  I would recommend just taking the lightcurves as we get them.

[2016-08-26 04:03] rbiswas4 commented on #51
So, all votes for not expanding monitor capability along these lines. @drphilmarshall did you have some necessity in mind that we are missing?

[2016-08-26 04:37] drphilmarshall commented on #50
OK: that says that maybe a simple DC level correction like the one Rahul
suggested is all that is needed to make our current ForcedSource light
curves correspond to the current industry standard - or would you say that
the current industry standard is different?

I am all for pursuing image differencing, but we got talking in the meeting
about fallback options, and what DM Level 2 analysis to do.

[2016-08-26 04:45] drphilmarshall commented on #51
Nope! If we're all OK with working with visit fluxes rathre than nightly
fluxes, we can just close this out :-)

On Thu, Aug 25, 2016 at 9:03 PM, rbiswas4 notifications@github.com wrote:

[2016-08-26 05:08] rbiswas4 commented on #50
AFAIK the industry standard for publishing SN photometry is doing SMP (SDSS/SNLS/DES) went that route .... so I agree with @wmwv  that doing forced photometry and galaxy subtractions will not be doing it 'right'. At the same time, forced photometry based results have been used before such a finalized version just to get analyses going. I would be very interested in working on a problem like SMP, b

[2016-09-13 17:43] jchiang87 opened #52 "Changes to TwinSN table?"
Hi @rbiswas4,

I'm trying to run your https://github.com/DarkEnergyScienceCollaboration/Monitor/blob/master/examples/reference_lc.ipynb notebook, but I'm getting this error for cell 14:
[code]

Has there been a change to that table?

[2016-09-13 17:56] rbiswas4 commented on #52
@jchiang87
yes, I think 'snid' has changed to 'id' as part of the work in trying to get ready for run 3. I will fix reference_lc.ipynb today. We should have been more careful trying to change tables. Sorry!

[2016-10-12 23:38] #52 closed

[2016-11-09 15:55] #51 closed

[2016-11-09 16:26] rbiswas4 opened #54 "Measure depths of visits from"
Since we are interested in doing comparisons of truths and detected values as a function of observation parameters, we have to measure the sky noise. Let us obtain the values of five sigma depth from
- [ ]  The Opsim  database
- [ ]  PhoSim Centroid Files and log files
- [ ] The DM analysis of the images.

The interface that we are thinking of is:
[code]

[2016-11-09 17:05] jbkalmbach opened #55 "Measure Seeing as a function of Visits"

[2016-11-09 17:09] jbkalmbach opened #56 "Build demo notebook for Depth and Seeing Curves"

[2016-11-09 17:11] jbkalmbach opened #57 "Build Depth and Seeing Curves from PServ data"

[2016-11-09 18:47] jbkalmbach opened #58 "Pass Database into lightcurve.build_lightcurve_from_db method"

[2016-11-09 18:54] jbkalmbach commented on #47
@rbiswas4 This will be the first task of the hack week sprint I will work on since it will speed up development a good amount.

[2016-11-09 19:56] rbiswas4 commented on #54
It appears that, unfortunately, this information is not available from the text files that phosim outputs (centroid files). which has

[code]

where AvgX and AvgY are pixel positions of sources.

Unless the 0s on the end are background sources, there seems to be no way of understanding the number of photons coming from background. On the other hand, many of these have `-nan` as pixel positions and

[2016-11-10 15:16] sethdigel commented on #54
Those zero-photon background sources are labeled as 'Zodiacal Light'.  I'd infer that this background must have been turned off.

Probably a rough idea of the sigma depth could come from the reported total number of photons (e.g., 7.04e11 for obshistid = 230, the first in Tom's current run, r band) and an estimate of the size of the PSF.  At least it sort of works quantitatively.  The CCDs are 800

[2016-11-10 20:34] #23 closed

[2016-11-10 20:34] jbkalmbach commented on #23
Both of the issues in the checklist have actually been closed already.

[2016-11-11 00:04] jbkalmbach opened #60 "Simplest Possible Error Model"
The first major chunk of work in developing a working error model for Twinkles will be to develop a simple model outlined on the board pictured [here](https://github.com/DarkEnergyScienceCollaboration/Monitor/files/584719/IMG_20161110_161134488.pdf). This is broken up into a list of issues outlined below:

- [ ] Develop monitor functionality to get true fluxes from instance catalog files
- [ ] Mat

[2016-11-11 00:09] jbkalmbach opened #61 "Develop monitor functionality to get true fluxes from instance catalog files"
@rbiswas4 mentioned that some of this may already be done. Will look for existing code first.

[2016-11-11 00:12] jbkalmbach opened #62 "Match up an object's true fluxes to observed fluxes"
Once we have the true fluxes from the instance catalogs we need to associate these with the correct object's in the Pserv database.

[2016-11-11 00:14] jbkalmbach opened #63 "Develop 2-d bias map in depth, seeing space"

[2016-11-11 00:14] jbkalmbach opened #64 "Develop 2-d variance map in depth, seeing space"

[2016-11-11 01:24] jbkalmbach opened #65 "Make notebook to demonstrate simple error model"

[2016-11-14 20:06] drphilmarshall opened #67 "Use ccdVisit table `skyNoise` to compute DM image depth"
Since it's in DN, I guess we want to do
[code]
What kinds of numbers does this give? Let's plot `D_sky` against `D_sigma` where the latter is our simple estimate based on the median flux uncertainty across all DIAsources in the visit.

[2016-11-14 20:08] drphilmarshall opened #68 "Have the Monitor pull out OpSim seeing and depth for each visit"
When building an error model that enables "catalog amplification", we'll need to be able to draw observed fluxes given CatSim and OpSim quantities alone.

[2016-11-15 17:45] jbkalmbach commented on #67
Conversation in DarkEnergyScienceCollaboration/Twinkles#407 is related to this issue

[2017-01-05 18:54] jbkalmbach commented on #28
Instruction added in #69 and merged

[2017-01-05 18:54] #28 closed

[2017-01-05 18:58] jbkalmbach opened #70 "Figure out Database connections in Jupyter-dev setup"
Now that we have a way to get ipython notebooks running @ NERSC remotely through jupyter-dev, we need to be able to connect to the science databases where the DM processed data is stored from those notebooks.

[2017-01-06 21:06] jbkalmbach commented on #70
I have figured it out and will add to the documentation.

[2017-01-06 22:12] jbkalmbach commented on #70
Merged #71

[2017-01-06 22:12] #70 closed

[2017-01-06 22:13] jbkalmbach opened #72 "Add higher level info into jupyter-dev documentaion"
At our weekly meeting yesterday it was suggested that I add some higher level introduction to jupyter-dev into our instructions. Also we tried adding a package from inside the notebook and were successful. This process should also be added into the documentation.

[2017-01-09 19:05] drphilmarshall commented on #72
Nailed by @jbkalmbach in #73

[2017-01-09 19:05] #72 closed

[2017-01-09 19:30] drphilmarshall opened #74 "Issues arising from community discussion of `jupyter-dev`"
@jbkalmbach @richardxdubois @SimonKrughoff I just posted Bryce's notes on using `jupyter-dev` at NERSC to community.lsst.org here:

https://community.lsst.org/t/analyzing-lsst-desc-twinkles-data-at-nersc-via-remote-jupyter-notebooks/1533

We can use this thread to collect and discuss any issues arising from that discussion. Or, just close it once we find no-one is interested! :-)

[2017-01-19 23:03] jbkalmbach opened #75 "Remove code that gets lightcurves out of forced photometry folders directly"
Since we don't plan on building our lightcurves using this information going forward (it was just useful to get up and running before we had NERSC databases), I think we should clear out this code and remove it from the example notebook.

 If anybody thinks that's a bad idea let me know please.

[2017-01-19 23:28] jbkalmbach commented on #74
Update from today's meeting: Currently looking into Vizic: https://arxiv.org/abs/1701.01222. Requires MongoDB and Python 3 both of which are possible to set up. Will update more when I try an example notebook and get it running. Also want to know more about how hard it is to create one's own widgets.

[2017-01-19 23:31] jbkalmbach opened #76 "Science Analysis goals for 2017 SLAC Meeting"
What do we hope to have ready by the SLAC Meeting and what can we finish up with only Run 1.1 data.

Edit this post to create a checklist below:

- [ ] Issue 1
- [ ] Issue 2

[2017-01-19 23:32] jbkalmbach commented on #76
@drphilmarshall @rbiswas4 What do we hope to have running in the monitor by the SLAC Meeting?

[2017-01-20 02:35] drphilmarshall commented on #76
I think my goals are more oriented towards the Twinkles analysis results -
the Monitor is our primary tool for that, but the results need to be based
on the SN error model, I think.

Goals:

1.  I'd like to know, quantitatively, how closely the DM measurements and
error bars match their theoretical expectations

2. I'd like to see a (stub of a ?) recipe for simulating much larger mock
datasets usi

[2017-06-20 23:44] rbiswas4 opened #77 "Monitor should require the setup of `pserv` and maybe `twinkles`"
Currently, essential functionality of the `monitor` depends on `pserv` functionality. However, it does not setup `pserv` automatically when it is setup. This should be modified by adding
[code]
to
https://github.com/LSSTDESC/Monitor/blob/master/ups/Monitor.table

[2017-06-29 00:02] jbkalmbach opened #78 "Update Jupyter-Dev instructions"
We have gotten a little bit of feedback from people starting to try jupyter-dev in the collaboration. I have gotten some notes on issues that came up and will add to the notes.

[2017-06-30 15:15] rbiswas4 commented on #75
I was thinking about this and was wondering if it is worth keeping a method that will pull the forced  photometry out of the repos themselves. If for some reason the database is not available, this might be a fallback option.

[2017-07-25 18:58] jbkalmbach opened #80 "Document Use Cases for the Monitor"
We should have an easy quick start guide to the Monitor by creating a Jupyter Notebook with actual use cases people find as they use the DC1 datasets.

[2017-12-04 20:12] kadrlica commented on #78
Adding a note, it appears that the setup script pointed to by `lsst-kernel.sh`, i.e.
```/global/common/cori/contrib/lsst/lsstDM/setupStack-12_1-Run3.1-a.sh```
doesn't exist anymore.

[2017-12-14 20:33] drphilmarshall opened #81 "Coping without warps"
A move is afoot in the DC2_Repo to trash the warps images after DIA (while keeping the calexps, compressed). Dominique Fouchez asserts that we don't need warps for light curve photometry in [this comment](https://github.com/LSSTDESC/DC2_Repo/issues/52#issuecomment-351747408). Does the Monitor currently use the warp images to make postage stamps? Can we live without warps? I think so, but just want

[2017-12-14 21:15] rbiswas4 commented on #81
But I think we want postage stamps! It may be ok for them to not be made by monitor and supplied by the DM stack, but we need these. These are the inputs to @dannygoldstein 's code for real-artifact analysis, and we want to run things through that.

[2017-12-14 21:34] jchiang87 commented on #81
You can make postage stamps with the Monitor code from the calexps.  They just won't be registered in a nice way to make a movie.

[2017-12-15 18:09] jbkalmbach commented on #81
Yeah, I think the [PostageStampMaker](https://github.com/LSSTDESC/Monitor/blob/master/python/desc/monitor/PostageStampMaker.py) code will be fine to create the input for @dannygoldstein 's code.

[2017-12-15 18:41] jbkalmbach commented on #78
Thanks, I'll find the new location and update this.

[2017-12-15 18:46] kadrlica commented on #78
Here's a version that I put together at the DESC sprint week:
(https://github.com/LSSTDESC/SSim_DC1/blob/master/Notebooks/lsst-kernel.sh

[2017-12-15 18:48] drphilmarshall commented on #81
OK good - thanks all! Will rest easy.

[2017-12-15 18:48] #81 closed

[2017-12-21 01:00] wadawson opened #82 "Username and Password for wadawson"
I am following the setup options in the /doc/jupyter-dev.md and Step 6 "Set up database connection" says to contact the monitor team for a username and password. Will someone please do this for me?
Thank you,
Will

[2017-12-21 15:39] jchiang87 commented on #82
@wadawson I'll send you the info.

[2017-12-21 15:50] #82 closed